// Font declarations
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Color declarations
$teal: rgb(71, 211, 160);
$white: #fff;
$black: #000;

$primary: $teal;
$secondary: $white;
$tertiary: $black;
